/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.content-container {
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.content-container h1,
.content-container h2 {
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.content-container p {
  line-height: 1.6;
}

.content-container ul {
  padding-left: 20px;
}

.theme-toggle-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--text-color);
  z-index: 1000; /* Keeps it on top of other elements */
}